<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

  

	<bean id="sessionFactory"
        class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="annotatedClasses">
            <list>
                <value>de.dbo.samples.maven.basic.enterprise.weather.model.Atmosphere</value>
                <value>de.dbo.samples.maven.basic.enterprise.weather.model.Condition</value>
                <value>de.dbo.samples.maven.basic.enterprise.weather.model.Location</value>
                <value>de.dbo.samples.maven.basic.enterprise.weather.model.Weather</value>
                <value>de.dbo.samples.maven.basic.enterprise.weather.model.Wind</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
                <prop key="hibernate.connection.pool_size">0</prop>
        		<prop key="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</prop>
        		<prop key="hibernate.connection.url">jdbc:hsqldb:target/data/weather;shutdown=true</prop>
        		<prop key="hibernate.connection.username">sa</prop>
        	    <prop key="hibernate.connection.password"></prop>
        	    <prop key="hibernate.connection.autocommit">true</prop>
        	    <prop key="hibernate.jdbc.batch_size">0</prop>
        	    <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <bean id="locationDAO" class="de.dbo.samples.maven.basic.enterprise.weather.persist.LocationDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="weatherDAO" class="de.dbo.samples.maven.basic.enterprise.weather.persist.WeatherDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
 </beans>