<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="com.mountainminds.eclemma.core.SCOPE_IDS">
<listEntry value="=jpa0/src\/main\/java"/>
<listEntry value="=tuProlog0/src\/main\/java"/>
<listEntry value="=xml0/src\/main\/java"/>
<listEntry value="=logger0/src\/main\/java"/>
<listEntry value="=util0/src\/main\/java"/>
<listEntry value="=html0/src\/main\/java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="com.mountainminds.eclemma.ui.launchGroup.coverage"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.dbo.samples.Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="__test"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
