<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:annotation-config />
	<context:property-placeholder location="file:conf/application.properties"
		ignore-resource-not-found="true" ignore-unresolvable="true" />
		

	<bean id="languageModel" class="de.dbo.javafx.spring1.model.LanguageModel" init-method="init" />

	<bean id="messageModel" class="de.dbo.javafx.spring1.model.MessageModel" init-method="init" />

	<bean id="languageController" class="de.dbo.javafx.spring1.control.LanguageController"
		init-method="init">
		<property name="model" ref="languageModel" />
	</bean>
	
	<bean id="screens" class="de.dbo.javafx.spring1.gui.ScreensConfig2" init-method="init" >
		<property name="lang" ref="languageModel" />
	</bean>
	
	<bean id="firstPresentation2" class="de.dbo.javafx.spring1.gui.components.FirstPresentation2"
		init-method="init">
		<property name="config" ref="screens" />
	</bean>
	
	
	
	 
</beans>
