<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-lazy-init="true">

    <bean id="weatherService"
          class="de.dbo.samples.maven.basic.enterprise.weather.service.WeatherService">
        <property name="yahooRetriever" ref="yahooRetriever"/>
        <property name="yahooParser" ref="yahooParser"/>
    </bean>

    <bean id="yahooRetriever"
          class="de.dbo.samples.maven.basic.enterprise.weather.service.YahooRetriever"/>

    <bean id="yahooParser"
          class="de.dbo.samples.maven.basic.enterprise.weather.service.YahooParser"/>
</beans>